/* 
    Created on : 2014.11.25., 11:53:42
    Author     : rych
*/

body {
    margin: 0;
    background-color: #3d3d3d;
}

#header {
    background: url(/Szervizmunkalap/Images/cool.jpg) no-repeat;
    background-color: #050a0e;
    padding: 10px 20px;
    max-width: 960px;
    margin: 0 auto;
}
#header h1#sitename {
    margin: 30px 0 70px 0;
}
#header h1#sitename span {
    visibility: hidden;
}

#content {
    padding: 10px 20px;
    background-color: #3d3d3d;
    color: white;
    max-width: 960px;
    margin: 0 auto;
}
#content input,
#content textarea,
#content select,
#content option {
    color: black;
}

.news {
    margin-bottom: 15px;
}
.news .title {
    border-bottom: 1px solid #555;
    color: #555;
    font-weight: bold;
    font-size: 1.3em;
}
.news .text {
    margin: 5px 0;
}
.news .date {
    text-align: right;
    font-style: italic;
}

#footer {
    background-color: #0012ff;
    color: white;
    padding: 10px 20px;
    max-width: 960px;
    margin: 0 auto;
}

#header #navigation a {
    color: white;
    background: #0012ff;
}
#header #navigation a:hover {
    color: black;
    background: #dddddd;
}

/*
        news modul
*/

.shortText {
    width: 450px;
}
.selecttext {
    color:black;
}

.leadText {
    width: 450px;
    height: 50px;
}

.longText {
    width: 450px;
    height: 200px;
}

.munkalapok th,
.munkalapok td{
    border:1px solid black;
}
.munkalapok .uj {
    background-color: green;
}
.munkalapok .javitas_alatt {
    background-color: yellow;
    color:black
}
.munkalapok .javitva {
    background-color: orange;
}
.munkalapok .lezart {
    background-color: skyblue;
    color:black
}

